


.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}


.hero-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  opacity: 0.3;
  transition: .5s ease;
  background: rgba(24, 22, 23, 0.03);
  background-image: radial-gradient(black 33%, transparent 13%);
  background-size: 2px 2px;
  pointer-events: none;
}


.hero-video-buttons .play , .hero-video-buttons .pause {
  position: absolute;
  font-size: 70px;
  bottom: 99px;
  right: 6vw;
  cursor: pointer;
  }

  .hero-video-buttons .pause {
    display: none;
  }
